@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ButtonWp {
  background-color: var(--color-green);
  padding: 1.2rem;
  border-radius: 35px;
  border-style: none;

  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  animation: entering 0.7s ease-in-out;
}

.ButtonWp #wp {
  width: 4rem;
}
.ButtonWp:hover {
  background-color: #52ffa0;
  transform-style: flat;
  transition-duration: 0.5s;
  filter: drop-shadow(8px 4px 16px rgba(4, 211, 97, 0.51));
  transform: scale(1.2);
}
.ButtonContat img {
  padding-right: 16px;
}
.ButtonContat {
  background-color: #fecb01;
  padding: 1.5% 9%;
  border-radius: 13px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: entering 0.7s ease-in-out;
}
.ButtonContat:hover {
  box-shadow: 0px 0px 23px -2px #fecb01;
  background-color: #facf23;
  transition-duration: 0.2s;
  animation-delay: 0.2s;
  transform: scale(1.2);
}
.ButtonContat p {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 54px;
  margin: 0;
  color: #000000;
}
